<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDIgliWcERDAPO8ubnABieV5scMZbMPXO0</string>
	<key>GCM_SENDER_ID</key>
	<string>909649150937</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.beh.eyedoctor</string>
	<key>PROJECT_ID</key>
	<string>beh-teleeye</string>
	<key>STORAGE_BUCKET</key>
	<string>beh-teleeye.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:909649150937:ios:43197b00edc1f88c1fcfc8</string>
</dict>
</plist>